  
body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: 0;
}

img.github-link {
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 300;
  font-family:  fantasy;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  /*margin-inline-start: 15px;*/
  /*margin-inline-end: 15px;*/
}

#inline-h3 {
  display: inline;
}

#best-response-button {
  margin-top: 10px;
}

table {
  margin-top: 15px;
  margin-bottom: 15px;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: left
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

footer {
  background-color: #c6eaff;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

text.shadow {
    stroke: #FFF;
    stroke-width: 3px;
    stroke-opacity: 0.9;
}

#app-body {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

#left-panel {
  width: 350px;
  height: 100%;  
  padding: 20px 19px 20px 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  position: absolute;
  left: 0;
}


#graph {
    border: solid 1px #eee;
    border-bottom: solid 1px #ccc;
    /*display: block*/
    width: 100%;
    height: 100%;
    position: absolute;
    left: 320px;
}
    /*position: absolute;*/
}

button:not(.active) {
  border: 1px solid #ccc;
}

.btn-group>.btn{
  float: none
}

.btn-secondary.active {
    background-image: none;
    border: 3px solid #000000;
    outline: 4px;
    border-radius: 5px;
    
}

.btn-secondary:focus {
  outline:none;
  box-shadow: none;
}


.container{
float: right;
}



.status{
float: left;
padding-top: 10px;
margin-top: 10px;
border-top: 1px solid #e3e3e3;
}

ul {
    padding-inline-start: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    padding-inline-start: 10px;

}

input[type=text]:disabled {
  background: #dddddd;
}

ul {
    padding-inline-start: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    padding-inline-start: 10px;

}

input[type=text]:disabled {
  background: #dddddd;
}

input{
  float:left;
  margin-right:5px;
}

img.github-link {
  position: absolute;
  top: 0;
  right: 0;
}

#instructions {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #ccc;
}

table, th, td{
  border: 1px solid black;  
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

#title-div {
  padding: 15pt;
  background-color: #c6eaff;
}

#page_container {
  position:relative;
  height: 100vh
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}